.card{
	margin: 10px;
}
body{
	background: black;
	
	background-image: url('../image/first.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	min-height: 500px;
}
/*exam page*/
.back {
	width: fit-content;
	height: fit-content;
	background-color: blue;
	color: white;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: burlywood;
	text-align: justify;
	text-align: center;
}
.bg-black{
	background-color: black;
}

.ex-ref{
	width: 1000px;
	height: fit-content;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flexbox;
	background-color: #e3f2fd;
	margin: auto;
	box-sizing: border-box;
	border-top: blue;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;

	
}
.subheader{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: #d1fcf0;
	padding: 10px;
	
}
.subcontent{
	line-height: 10px;
	margin-top: 10px;
	color: black;
	text-align: left;
	font-family: 'Crimson Text', serif;
	font-size: larger;
	margin-left: 30px;
}
.subcontent a{
	text-decoration: none;
}
.subfooter{
	background-color: #d1fcf0;
	width: auto;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
}
.subfooter textarea{
	margin-left: 5px;
	margin-right: 5px;
}
.exam-card-title{
	font-size: larger;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;
}
.form-container{
	display: flex;
	justify-content: center;
	margin: 10px;
}
.page-footer1{
	color: blanchedalmond;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
.page-footer{
	color: blanchedalmond;
}
.contact-card{
	position: absolute;
	left: 50%;
	transform: translate(-50%,50%);
}
.bd-bg-img-abt {
	background-image: url(../image/second.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.abt-cont {
	background-color: rgba(255, 250, 250, 0.3);
	width: 1000px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flexbox;
	border-radius: 20px;
	height: fit-content;
	padding-top: 20px;
	padding-bottom: 20px;



}



@media only screen and (max-width: 1005px) {
	.ex-ref{
		width: auto;
		height: fit-content;
		background-color: #e3f2fd;
		margin: auto;
		box-sizing: border-box;
		margin-top: 20px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
}
.abt-cont{
	width: auto;
	height: fit-content;
	margin: auto;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

}