.card{
	margin: 10px;
}
body{
	background: black;
}
/*exam page*/
.back {
	width: fit-content;
	height: fit-content;
	background-color: blue;
	color: white;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: burlywood;
	text-align: justify;
	text-align: center;
}

.ex-ref{
	width: 1000px;
	height: fit-content;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flexbox;
	background-color: #e3f2fd;
	margin: auto;
	box-sizing: border-box;
	border-top: blue;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;

	
}
.subheader{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: #d1fcf0;
	padding: 10px;
	
}
.subcontent{
	line-height: 10px;
	margin-top: 10px;
	color: black;
	text-align: left;
	font-family: 'Crimson Text', serif;
	font-size: larger;
	margin-left: 30px;
}
.subcontent a{
	text-decoration: none;
}
.subfooter{
	background-color: #d1fcf0;
	width: auto;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
}
.subfooter textarea{
	margin-left: 5px;
	margin-right: 5px;
}
.exam-card-title{
	font-size: larger;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;
}


@media only screen and (max-width: 1005px) {
	.ex-ref{
		width: auto;
		height: 300px;
		background-color: #e3f2fd;
		margin: auto;
		box-sizing: border-box;
		margin-top: 20px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
}